.searchbar {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  outline: 0;
}

@media (min-width: 768px) {
  .searchbar {
    width: 70%;
  }
}

@media (min-width: 1440px) {
  .searchbar {
    width: 40%;
  }
}
